{{!-- {{#section "js"}}
  <script>
    $('#frmEditCat').on('submit',function(e){ e.preventDefault(); const catID =
    $('#txtID').val(); const catName = $('#txtName').val(); if (!catName){
    alert("Vui lòng điền đầy đủ thông tin!"); return; } else{alert(`Đã chỉnh sửa
    danh mục ${catID}`); $('#frmEditCat').off('submit').submit();} } }); });
  </script>
{{/section}} --}}

<a
  class="mx-4"
  id="menuBtn"
  class=""
  onclick="displayMenu()"
  href="#"
  role="button"
>
  <i class="fa fa-list fa-2x" aria-hidden="true"></i>
</a>
<h3 class="my-4 adminTitle">QUẢN LÝ DANH MỤC</h3>

<form id="frmEditCat" method="post" class="form">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="input-container ic1">
        <input
          id="txtID"
          class="input"
          type="text"
          placeholder=" "
          value={{this.cat.catID}}
          name="catID"
          readonly
        />
        <div class="cut"></div>
        <label for="txtID" class="placeholder">ID</label>
      </div>
      <div class="input-container ic1">
        <input
          id="txtName"
          class="input"
          type="text"
          placeholder=" "
          value="{{this.cat.catName}}"
          name="catName"
        />
        <div class="cut"></div>
        <label for="txtName" class="placeholder">Tên danh mục</label>
      </div>

    </div>

  </div>
  <button type="text" class="submit">CHỈNH SỬA</button>
</form>