<div class="container py-5">
    <h1 class="text-center mb-4"> 
        <strong>ĐĂNG SẢN PHẨM</strong>
        </h1>
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form id="frmPostProduct" method="post">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label >Tên sản phẩm</label>
                        <input type="text" class="form-control" id="txtProdName" name ="prodName" autofocus>
                    </div>
                    <div class="col-sm-6">
                        <label >Danh mục</label>
                        <select class="browser-default custom-select" name="prodType">
                            <option disabled selected="">Chọn danh mục cho sản phẩm</option>
                            {{#each ./lv2Categories }}
                            <option value="{{typeID}}">{{typeName}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label >Giá khởi điểm</label>
                        <input type="number" class="form-control" id="txtPrice" name="curPrice" >
                    </div>
                    <div class="col-sm-6">
                        <label>Giá mua ngay</label>
                        <input type="number" class="form-control" id="txtBuyNowPrice" name="buyNowPrice" >
                    </div>
                    
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Bước giá</label>
                        <input type="number" class="form-control" id="step" name="step">
                    </div>
                    <div class="col-sm-3">
                        <label>Ngày kết thúc</label>
                        <input type="date" class="form-control" id="date" name="date">
                    </div>
                     <div class="col-sm-3">
                        <label>Giờ kết thúc</label>
                        <input type="time" class="form-control" id="time" name="time">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label>Mô tả</label>
                        <textarea name="des" id="prodDes" class="form-control" style="min-width: 100%" rows=8></textarea>
                    </div>
                </div>
                <button type="text" class="btn btn-light px-4 float-right" >Đăng</button>
            </form>
        </div>
    </div>
</div>

