<div class="container my-5">
    <div class="container mt-3" style="width:90%;">
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <th scope="row">
                        <h5>Họ và tên</h5>
                    </th>
                    <td>Nguyen Van Jee</td>
                </tr>
                <tr>
                    <th scope="row">
                        <h5>Đánh giá</h5>
                    </th>
                    <td>
                        <span class="text-info font-weight-bold">8 <i class="fa fa-thumbs-up"></i>&nbsp</span>
                        <span class="text-danger font-weight-bold pl-2">10 <i class="fa fa-thumbs-down"></i></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container mb-5 border" style="border-radius: 5px 5px 0 0; padding-left: 0; padding-right:0">
    <div class="border-bottom p-1" style="background-color: #FF8A00; border-radius: 5px 5px 0 0;">
        <h5>Chi tiết đánh giá</h5>
    </div>
    <div class="media m-3">
        <img class="d-flex mr-3 z-depth-1 " src="https://cdn2.olm.vn/images/avt/avt9/avt3029559_256by256.jpg?v=1"
            width="60" height="60" alt="Generic placeholder image">
        <div class="media-body">
            <div class="d-sm-flex justify-content-between">
                <p class="mt-1 mb-0">
                    <strong>Hoàng Tử Gió</strong>
                </p>
            </div>
            <div><small>ID sản phẩm: 012344</small></div>
            <div><i class="text-info fa fa-thumbs-up "></i></div>
            <hr align="left" width="20%">
            <p class="mb-2">Nice one, love it!</p>
            <p style="font-size: 11px;">21/12/2021 14:30:21</p>
        </div>
    </div>
    <hr width="80%">

    <div class="media m-3">
        <img class="d-flex mr-3 z-depth-1 "
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMZD4vfXW7fE2Rc3cBqqKO8LezvwIipZ9SSw&usqp=CAU"
            width="60" height="60" alt="Generic placeholder image">
        <div class="media-body">
            <div class="d-sm-flex justify-content-between">
                <p class="mt-1 mb-0">
                    <strong>Công chúa bông bống</strong>
                </p>
            </div>
            <div><small>ID sản phẩm: 012344</small></div>
            <div><i class="text-info fa fa-thumbs-up "></i></div>
            <hr align="left" width="20%">
            <p class="mb-2">Too nice to say anything about.</p>
            <p style="font-size: 11px;">21/12/2021 14:30:21</p>
        </div>
    </div>
    <hr width="80%">
</div>