<div class="menu_row">
  <div>
    <a class="adminBtn" href="/">
      <div class="adminBtnText"><i
          class="fa fa-home px-3 fa-lg"
          aria-hidden="true"
        ></i>Trang chủ</div>
    </a>
    <hr class="line" />
    <a class="adminBtn userBtn btn">
      <div class="adminBtnText">
        <i class="fa fa-user px-3 fa-lg" aria-hidden="true"></i>
        Quản lý người dùng</div>
    </a>

    <a class="adminBtn listBtn active" href="/admin">
      <div class="adminBtnText listBtnText">Danh sách chi tiết</div>
    </a>

    <a class="adminBtn listBtn" href="/admin/user-update">
      <div class="adminBtnText listBtnText">Danh sách cần nâng cấp</div>
    </a>

    <hr class="line" />
    <a class="adminBtn" href="/admin/categories">
      <div class="adminBtnText">
        <i class="fa fa-sitemap px-3 fa-lg" aria-hidden="true"></i>
        Quản lý danh mục</div>
    </a>
    <hr class="line" />
    <a class="adminBtn" href="/admin/products">
      <div class="adminBtnText"><i
          class="fa fa-tags px-3 fa-lg"
          aria-hidden="true"
        ></i>Quản lý sản phẩm</div>
    </a>
    <hr class="line" />
    <a class="adminBtn" href="/">
      <div class="adminBtnText"><i
          class="fa fa-sign-out px-3 fa-lg"
          aria-hidden="true"
        ></i>Đăng xuất</div>
    </a></div>
  <div><a
      name=""
      id="menuBtnOnMenu"
      class=""
      onclick="displayMenu()"
      href="#"
      role="button"
    >
      <i class="fa fa-window-close" aria-hidden="true"></i>
    </a></div>

</div>