<a class="homeBtn" href="#">
  <div class="homeBtnText"><i
      class="fa fa-home px-3 fa-lg"
      aria-hidden="true"
    ></i>Trang chủ</div>
</a>
<hr class="line" />
<a class="homeBtn userBtn btn">
  <div class="homeBtnText">
    <i class="fa fa-user px-3 fa-lg" aria-hidden="true"></i>
    Quản lý người dùng</div>
</a>

<a class="listBtn" href="#">
  <div class="listBtnText">Danh sách chi tiết</div>
</a>

<a class="listBtn" href="#">
  <div class="listBtnText">Danh sách cần nâng cấp</div>
</a>

<br />
<hr class="line" />
<a class="homeBtn" href="#">
  <div class="homeBtnText">
    <i class="fa fa-sitemap px-3 fa-lg" aria-hidden="true"></i>
    Quản lý danh mục</div>
</a>
<hr class="line" />
<a class="homeBtn" href="#">
  <div class="homeBtnText"><i
      class="fa fa-tags px-3 fa-lg"
      aria-hidden="true"
    ></i>Quản lý sản phẩm</div>
</a>
<hr class="line" />
<a class="homeBtn" href="#">
  <div class="homeBtnText"><i
      class="fa fa-sign-out px-3 fa-lg"
      aria-hidden="true"
    ></i>Đăng xuất</div>
</a>