<footer class="page-footer font-small unique-color-dark text-light footer">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    ktpm2webgroup5.com
  </div>
  <!-- Copyright -->

</footer>