<div class="form_contain">
  <form id="frmLogin" class="form" method="post">
    <div class="form_textField">
      <h4 class="text-center font-weight-bold">ĐĂNG NHẬP</h4>
      {{#if err_message}}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Login failed!</strong> {{err_message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{/if}}
       {{#if message}}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
         {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{/if}}
      <div class="input-container ic1">
        <input id="txtEmail" class="input" type="text" placeholder=" " name="email" required="true" autofocus />
        <div class="cut"></div>
        <label for="txtEmail" class="placeholder">Email</label>
      </div>
      <div class="input-container ic1">
        <input id="txtPassword" class="input" type="password" placeholder=" " name="psword" required=="true" />
        <div class="cut"></div>
        <label for="txtPassword" class="placeholder">Mật khẩu</label>
      </div>
      <br>
        <div class="g-recaptcha d-flex justify-content-center" data-sitekey="6LeOKdsdAAAAAO1tRxxSCIoufTKvDLRmuC8Cq7BL"></div>
  
      <div> <button type="text" class="submit mt-3">ĐĂNG NHẬP</button></div>
      
    </div>
    <div class="d-flex justify-content-between ml-5 mt-3 mr-5">
       <a  class="option" href="/" role="button">
      Về trang chủ
      </a>
      <a  class="option" href="/account/forgetpassword" role="button">Quên mật khẩu</a>
    </div>
    <div class="text-center mt-3">
      <a class="option" href="/account/signup" role="button">Chưa có tài khoản?</a>
    </div>
  </form>
</div>