<div class="form_contain">
  <div class="form">
    <div class="form_textField">
      <h4 class="text-center font-weight-bold">ĐĂNG NHẬP</h4>
      <div class="input-container ic1">
        <input id="username" class="input" type="text" placeholder=" " />
        <div class="cut"></div>
        <label for="username" class="placeholder">Tên tài khoản</label>
      </div>
      <div class="input-container ic1">
        <input id="password" class="input" type="password" placeholder=" " />
        <div class="cut"></div>
        <label for="password" class="placeholder">Mật khẩu</label>
      </div>
      <div> <button type="text" class="submit">ĐĂNG NHẬP</button></div>

    </div>
    <div class="d-flex justify-content-between mt-4">
      <a name="" id="" class="option" href="/signup" role="button">Chưa có tài khoản</a>
      <a name="" id="" class="option" href="#" role="button">Quên mật khẩu</a>
    </div>
  </div>
</div>