<div class="form_contain">
  <div class="form">
    <div class="form_textField">
      <h4 class="text-center font-weight-bold">ĐĂNG KÝ</h4>
      <div class="input-container ic1">
        <input id="name" class="input" type="text" placeholder=" " />
        <div class="cut"></div>
        <label for="name" class="placeholder">Họ tên</label>
      </div>
      <div class="input-container ic1">
        <input id="username" class="input" type="text" placeholder=" " />
        <div class="cut"></div>
        <label for="username" class="placeholder">Tên tài khoản</label>
      </div>
      <div class="input-container ic1">
        <input id="password" class="input" type="password" placeholder=" " />
        <div class="cut"></div>
        <label for="password" class="placeholder">Mật khẩu</label>
      </div>
      <div class="input-container ic2">
        <input id="email" class="input" type="text" placeholder=" " />
        <div class="cut"></div>
        <label for="email" class="placeholder">Email</label>
      </div>

      <div class="input-container ic2">
        <!-- Date input -->
        <input
          class="form-control input"
          id="dob"
          name="dob"
          class="dob"
          type="date"
          placeholder=" "
          value="2001-01-01"
        />
        <div class="cut"></div>
        <label for="dob" class="placeholder">Ngày sinh</label>
      </div>
      <div> <button type="text" class="submit">ĐĂNG KÝ</button></div>

    </div>
    <div class="text-center mt-4">
      <a name="" id="" class="option" href="#" role="button">Đã có tài khoản?
        <span class="text-center font-weight-bold">
          Đăng nhập</span></a>

    </div>
  </div>
</div>