{{#section "js"}}
<script>
  $('#frmUpdatePassword').on('submit', function (e) {
    e.preventDefault(); 
       const password = $('#txtPassword').val();
       const confirm = $('#txtConfirm').val(); 
       if (password !== confirm) {
          alert(`Passwords are not matching`); return;
        }
    $('#frmUpdatePassword').off('submit').submit();
  }); });
</script>
{{/section}}
<div class="form_contain">
  <form id="frmUpdatePassword" class="form" method="post">
    <div class="form_textField">
      {{#if err_message}}
         <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{err_message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{/if}}
      {{#if message}}
         <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{/if}}
      <div class="input-container ic1">
        <input id="txtPassword" class="input" type="password" placeholder=" " name="old" required="true" autofocus />
        <div class="cut"></div>
        <label for="txtPassword" class="placeholder">Mật khẩu cũ</label>
      </div>
      <div class="input-container ic1">
        <input id="txtPassword" class="input" type="password" placeholder=" " name="psword" required="true"  />
        <div class="cut"></div>
        <label for="txtPassword" class="placeholder">Mật khẩu mới</label>
      </div>
      <div class="input-container ic1">
        <input id="txtConfirm" class="input" type="password" placeholder=" " name="confirm" required="true" />
        <div class="cut"></div>
        <label for="txtConfirm" class="placeholder">Nhập lại mật khẩu mới</label>
      </div>

      <div> <button type="text" class="submit mt-3" >Lưu</button></div>

    </div>
    <div class="d-flex justify-content-between ml-5 mt-3 mr-5">
      <a class="option" href="/" role="button">
        Về trang chủ
      </a>
      {{#if authUser}}
      {{else}}
      <a class="option" href="/account/login" role="button">Đăng nhập</a>
      {{/if}}
    </div>
    {{#if authUser}}
    {{else}}
    <div class="text-center mt-3">
      <a class="option" href="/account/signup" role="button">Chưa có tài khoản?</a>
    </div>
    {{/if}}
  </form>
</div>