<div class="form_contain">
  <div class="form">
    <div class="form_textField">
      <h4 class="text-center font-weight-bold">ĐĂNG SẢN PHẨM</h4>
      <div class="dropdown input-container ic1" id="category">
        <button
          class="dropdown-toggle border-0 categoryBtn"
          type="button"
          id="dropdownMenu2"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Danh mục
        </button>
        <ul
          class="dropdown-menu dropdown-menu-dark"
          aria-labelledby="dropdownMenuButton2"
        >
          <li class="dropdown-submenu">
            <a class="dropdown-item" tabindex="-1" href="#">Đồ điện tử</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a
                  tabindex="-1"
                  class="text-dark text-decoration-none"
                  href="#"
                >Điện thoại</a></li>
              <li class="dropdown-item"><a
                  class="text-dark text-decoration-none"
                  href="#"
                >Máy tính</a>
              </li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item" tabindex="-1" href="#">Quần áo</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a
                  tabindex="-1"
                  class="text-dark text-decoration-none"
                  href="#"
                >Áo khoác</a></li>
              <li class="dropdown-item"><a
                  class="text-dark text-decoration-none"
                  href="#"
                >Quần Jean</a>
              </li>
              <li class="dropdown-item"><a
                  class="text-dark text-decoration-none"
                  href="#"
                >Áo sơ mi</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="input-container ic1">
            {{! <input id="category" class="input" type="text" placeholder=" " /> }}

            <div class="cut"></div>
            <label for="category" class="placeholder">Danh mục</label>
          </div>
          <div class="input-container ic1">
            <input id="productName" class="input" type="text" placeholder=" " />
            <div class="cut"></div>
            <label for="productName" class="placeholder">Tên sản phẩm</label>
          </div>
          <div class="input-container ic1">
            <input
              id="category"
              class="input"
              type="number"
              min="0"
              placeholder=" "
            />
            <div class="cut"></div>
            <label for="category" class="placeholder">Giá khởi điểm</label>
          </div>
          <div class="input-container ic1">
            <input
              id="productName"
              class="input"
              type="number"
              min="0"
              placeholder=" "
            />
            <div class="cut"></div>
            <label for="productName" class="placeholder">Bước giá</label>
          </div>

          <div class="input-container ic1">
            <input
              id="productName"
              class="input"
              type="number"
              min="0"
              placeholder=" "
            />
            <div class="cut"></div>
            <label for="productName" class="placeholder">Giá mua ngay</label>
          </div>
        </div>
        <div class="col-6">
          <div class="input-container ic1">
            <input id="username" class="input" type="text" placeholder=" " />
            <div class="cut"></div>
            <label for="username" class="placeholder">Tên tài khoản</label>
          </div>
          <div class="input-container ic1">
            <input
              id="password"
              class="input"
              type="password"
              placeholder=" "
            />
            <div class="cut"></div>
            <label for="password" class="placeholder">Mật khẩu</label>
          </div></div>
      </div>

      <div> <button type="text" class="submit">XÁC NHẬN</button></div>

    </div>
    <div class="d-flex justify-content-between mt-4">
      <a name="" id="" class="option" href="#" role="button">Chưa có tài khoản</a>
      <a name="" id="" class="option" href="#" role="button">Quên mật khẩu</a>
    </div>
  </div>
</div>