{{#section "css"}}
<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/css/fileinput.min.css" media="all"
  rel="stylesheet" type="text/css" />

{{/section}}
{{#section "js"}}
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.7/js/locales/vi.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.7/themes/fa/theme.min.js"></script>

<script>
  $("#fileUpload").fileinput({
    showUpload: false,
     maxFileCount: 4,
    inputGroupClass: "input-group-sm", dropZoneEnabled: false,
    allowedFileExtensions: ["png", "jpg", "gif"], theme: "fa", language: "vi"
  });
</script>

<script src="https://cdn.tiny.cloud/1/uv9nci01hx5niurqaw6mllzkhbo7vbmcuaojaphu0bf9h1iy/tinymce/5/tinymce.min.js"
  referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#prodDes', plugins: `paste image link autolink
    lists table media`, menubar: false, toolbar: [` undo redo | bold italic
    underline strikethrough | numlist bullist | alignleft aligncenter
    alignright| forecolor backcolor| table link image media`], entity_encoding:
      "raw",
  });
</script>

{{/section}}
{{#if err_mes}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{err_mes}};
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}
<div class="container mt-4">
  <form method="post" enctype="multipart/form-data">
    <div class="card">
      <div class="card-header">
        <h4 class="text-center font-weight-bold">ĐĂNG SẢN PHẨM</h4>
      </div>
      <div class="card-body">

        <div class="row">
          <div class="col-6">

            <div class="input-container ic1">
              <input id="txtProdName" class="input postPro-input" type="text" placeholder=" " name="prodName" autofocus
                required />
              <div class="cut"></div>
              <label for="productName" class="placeholder postPro-label">Tên sản
                phẩm</label>
            </div>
            <div class="input-container ic1">
              {{! <input id="category" class="input postPro-input" type="text" placeholder=" " /> }}
              <select class="browser-default custom-select" name="prodType" required>
                <option disabled selected>Danh mục</option>
                {{#each ./lv2Categories}}
                <option value="{{typeID}}">{{typeName}}</option>
                {{/each}}
              </select>
              <div class="cut"></div>
              {{! <label for="category" class="placeholder postPro-label">Danh mục</label> }}
            </div>
            <div class="input-container ic1">
              <input id="txtPrice" class="input postPro-input" type="number" min="0" placeholder=" " name="curPrice"
                required />
              <div class="cut"></div>
              <label for="category" class="placeholder postPro-label">Giá khởi
                điểm</label>
            </div>
            <div class="input-container ic1">
              <input id="step" name="step" required class="input postPro-input" type="number" min="0" placeholder=" " />
              <div class="cut"></div>
              <label for="productName" class="placeholder postPro-label">Bước
                giá</label>
            </div>

            <div class="input-container ic1">
              <input id="txtBuyNowPrice" name="buyNowPrice" class="input postPro-input" type="number" min="0"
                placeholder=" " />
              <div class="cut"></div>
              <label for="productName" class="placeholder postPro-label">Giá mua
                ngay</label>
            </div>

            <div class="input-container ic1">
              {{!-- <label><strong> Ngày kết thúc</strong></label>
              <input type="date" class="form-control" id="date" name="date" required /> --}}


              <!-- Date input -->
              <input class="form-control input postPro-input" id="date" name="date" type="date" placeholder=" "
                required />
              <div class="cut"></div>
              <label for="date" class="placeholder postPro-label">Ngày kết thúc</label>

            </div>
            <div class="input-container ic1">
              {{!-- <label><strong> Giờ kết thúc </strong></label> --}}
              <input type="time" class="form-control" id="time" name="time" placeholder=" " required />
              <div class="cut"></div>
              {{!-- <label for="time" class="placeholder postPro-label">Giờ kết thúc</label> --}}
            </div>

          </div>
          <div class="col-6">
            <div class="input-container ic1">
              <textarea name="des" id="prodDes" class="form-control" style="min-width: 100%" rows="12"></textarea>
              <div class="cut"></div>
              <label for="prodDes" class="placeholder postPro-label">Mô tả</label>
            </div>


          </div>
          <div class="col-12 ic1">
            <input type="file" id="fileUpload" name="fileUpload" multiple />
            <div class="cut"></div>
            {{! <label for="fileUpload" class="placeholder postPro-label">Hình ảnh</label> }}
          </div>
          <div class="col-6 ic1">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="approve1" name="approve" class="custom-control-input" checked value="1">
              <label class="custom-control-label" for="approve1">Cho phép bất kỳ bidder nào đặt giá</label>
            </div>
            
          </div>
          <div class="col-6 ic1">
              <div class="custom-control custom-radio custom-control-inline ">
              <input  type="radio" id="approve2" name="approve" class="custom-control-input" value="0">
              <label class="custom-control-label" for="approve2">Chỉ có bidder được đánh giá tốt trên 80% mới được đặt giá</label>
            </div>
            
          </div>
        </div>

      </div>
      <div class="card-footer text-muted">

        <button type="text" class="submit">ĐĂNG</button>
      </div>
    </div>
  </form>
</div>