{{! ---------------------------------Top 5 đấu giá nhiều nhất-------------------- }}
<div class="container-fluid my-3">
  <div class="mx-5 d-flex justify-content-between my-3">
    <h4>Top 5 nhiều lượt đấu giá nhất</h4>
  </div>

  {{! --------------------------Khung để sản phẩm------------------------- }}
  <div class="containItem">
    <div class="row justify-content-center">
      <div class="col-4 col-lg-2">
        <div class="ibox">
          <div class="ibox-content product-box">
            <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
              <span class="textFavorite"> Yêu thích</span>
            </button>
            <div class="product-imitation">
              <img src="/public/images/samsung-galaxy-a52s-5g-mint-600x600.jpg" class="responsive-img" />
            </div>
            <div class="product-desc" onclick="location.href='/detail'">
              <span class="product-label">
                HOT
              </span>
              <small class="text-muted">Bids: 10</small>
              <a href="#" class="product-name"> Samsung Galaxy A52s</a>

              <div class="price">
                <div>NguoiSaoHoa:
                  <span class="font-weight-bold">1.000.000</span>
                </div>
              </div>
              <div class="textPrice">
                <div>Giá mua ngay:
                  <span class="font-weight-bold">20.000.000d</span>
                </div>
              </div>
              <div class="remain-time">
                <i class="fa fa-clock-o"></i>
                Còn lại: 10:30:44
              </div>

              <br />

              {{! <div class="d-flex justify-content-between mx-3">
                <a href="#" class="btn btn btn-outline-primary">
                  <i class="fa fa-info"></i>
                  Info
                </a>
                <a href="#" class="btn btn-outline-success"><i class="fa fa-buysellads" aria-hidden="true"></i>
                  Buy
                </a>
              </div> }}
              <div class="text-right">
                <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                  21/10/2021
                </small>
              </div>

            </div>
          </div>
        </div>
      </div>

     <div class="col-4 col-lg-2">
        <div class="ibox">
          <div class="ibox-content product-box">
            <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
              <span class="textFavorite"> Yêu thích</span>
            </button>
            <div class="product-imitation">
              <img src="/public/images/samsung-galaxy-a52s-5g-mint-600x600.jpg" class="responsive-img" />
            </div>
            <div class="product-desc" onclick="location.href='/detail'">
              <span class="product-label">
                HOT
              </span>
              <small class="text-muted">Bids: 10</small>
              <a href="#" class="product-name"> Samsung Galaxy A52s</a>

              <div class="price">
                <div>NguoiSaoHoa:
                  <span class="font-weight-bold">1.000.000</span>
                </div>
              </div>
              <div class="textPrice">
                <div>Giá mua ngay:
                  <span class="font-weight-bold">20.000.000d</span>
                </div>
              </div>
              <div class="remain-time">
                <i class="fa fa-clock-o"></i>
                Còn lại: 10:30:44
              </div>

              <br />

              {{! <div class="d-flex justify-content-between mx-3">
                <a href="#" class="btn btn btn-outline-primary">
                  <i class="fa fa-info"></i>
                  Info
                </a>
                <a href="#" class="btn btn-outline-success"><i class="fa fa-buysellads" aria-hidden="true"></i>
                  Buy
                </a>
              </div> }}
              <div class="text-right">
                <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                  21/10/2021
                </small>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-4 col-lg-2">
        <div class="ibox">
          <div class="ibox-content product-box">
            <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
              <span class="textFavorite"> Yêu thích</span>
            </button>
            <div class="product-imitation">
              <img src="/public/images/samsung-galaxy-a52s-5g-mint-600x600.jpg" class="responsive-img" />
            </div>
            <div class="product-desc" onclick="location.href='/detail'">
              <span class="product-label">
                HOT
              </span>
              <small class="text-muted">Bids: 10</small>
              <a href="#" class="product-name"> Samsung Galaxy A52s</a>

              <div class="price">
                <div>NguoiSaoHoa:
                  <span class="font-weight-bold">1.000.000</span>
                </div>
              </div>
              <div class="textPrice">
                <div>Giá mua ngay:
                  <span class="font-weight-bold">20.000.000d</span>
                </div>
              </div>
              <div class="remain-time">
                <i class="fa fa-clock-o"></i>
                Còn lại: 10:30:44
              </div>

              <br />

              {{! <div class="d-flex justify-content-between mx-3">
                <a href="#" class="btn btn btn-outline-primary">
                  <i class="fa fa-info"></i>
                  Info
                </a>
                <a href="#" class="btn btn-outline-success"><i class="fa fa-buysellads" aria-hidden="true"></i>
                  Buy
                </a>
              </div> }}
              <div class="text-right">
                <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                  21/10/2021
                </small>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-4 col-lg-2">
        <div class="ibox">
          <div class="ibox-content product-box">
            <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
              <span class="textFavorite"> Yêu thích</span>
            </button>
            <div class="product-imitation">
              <img src="/public/images/samsung-galaxy-a52s-5g-mint-600x600.jpg" class="responsive-img" />
            </div>
            <div class="product-desc" onclick="location.href='/detail'">
              <span class="product-label">
                HOT
              </span>
              <small class="text-muted">Bids: 10</small>
              <a href="#" class="product-name"> Samsung Galaxy A52s</a>

              <div class="price">
                <div>NguoiSaoHoa:
                  <span class="font-weight-bold">1.000.000</span>
                </div>
              </div>
              <div class="textPrice">
                <div>Giá mua ngay:
                  <span class="font-weight-bold">20.000.000d</span>
                </div>
              </div>
              <div class="remain-time">
                <i class="fa fa-clock-o"></i>
                Còn lại: 10:30:44
              </div>

              <br />

              {{! <div class="d-flex justify-content-between mx-3">
                <a href="#" class="btn btn btn-outline-primary">
                  <i class="fa fa-info"></i>
                  Info
                </a>
                <a href="#" class="btn btn-outline-success"><i class="fa fa-buysellads" aria-hidden="true"></i>
                  Buy
                </a>
              </div> }}
              <div class="text-right">
                <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                  21/10/2021
                </small>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-4 col-lg-2">
        <div class="ibox">
          <div class="ibox-content product-box">
            <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
              <span class="textFavorite"> Yêu thích</span>
            </button>
            <div class="product-imitation">
              <img src="/public/images/samsung-galaxy-a52s-5g-mint-600x600.jpg" class="responsive-img" />
            </div>
            <div class="product-desc" onclick="location.href='/detail'">
              <span class="product-label">
                HOT
              </span>
              <small class="text-muted">Bids: 10</small>
              <a href="#" class="product-name"> Samsung Galaxy A52s</a>

              <div class="price">
                <div>NguoiSaoHoa:
                  <span class="font-weight-bold">1.000.000</span>
                </div>
              </div>
              <div class="textPrice">
                <div>Giá mua ngay:
                  <span class="font-weight-bold">20.000.000d</span>
                </div>
              </div>
              <div class="remain-time">
                <i class="fa fa-clock-o"></i>
                Còn lại: 10:30:44
              </div>

              <br />

              {{! <div class="d-flex justify-content-between mx-3">
                <a href="#" class="btn btn btn-outline-primary">
                  <i class="fa fa-info"></i>
                  Info
                </a>
                <a href="#" class="btn btn-outline-success"><i class="fa fa-buysellads" aria-hidden="true"></i>
                  Buy
                </a>
              </div> }}
              <div class="text-right">
                <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                  21/10/2021
                </small>
              </div>

            </div>
          </div>
        </div>
      </div>

      
    </div>
  </div>

  {{! --------------------------------Top 5 sản phẩm mới nhất tương tự--------------------------------- }}
  <div class="mx-5 d-flex justify-content-between my-3">
    <h4>Top 5 sản phẩm mới nhất</h4>
  </div>

  <div class="containItem">
    <div class="row justify-content-center">
      <div class="col-4 col-lg-2">
        <div class="ibox">
          <div class="ibox-content product-box">
            <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
              <span class="textFavorite"> Yêu thích</span>
            </button>
            <div class="product-imitation">
              <img src="/public/images/samsung-galaxy-a52s-5g-mint-600x600.jpg" class="responsive-img" />
            </div>
            <div class="product-desc" onclick="location.href='/detail'">
              <span class="product-label">
                HOT
              </span>
              <small class="text-muted">Bids: 10</small>
              <a href="#" class="product-name"> Samsung Galaxy A52s</a>

              <div class="price">
                <div>NguoiSaoHoa:
                  <span class="font-weight-bold">1.000.000</span>
                </div>
              </div>
              <div class="textPrice">
                <div>Giá mua ngay:
                  <span class="font-weight-bold">20.000.000d</span>
                </div>
              </div>
              <div class="remain-time">
                <i class="fa fa-clock-o"></i>
                Còn lại: 10:30:44
              </div>

              <br />

              {{! <div class="d-flex justify-content-between mx-3">
                <a href="#" class="btn btn btn-outline-primary">
                  <i class="fa fa-info"></i>
                  Info
                </a>
                <a href="#" class="btn btn-outline-success"><i class="fa fa-buysellads" aria-hidden="true"></i>
                  Buy
                </a>
              </div> }}
              <div class="text-right">
                <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                  21/10/2021
                </small>
              </div>

            </div>
          </div>
        </div>
      </div>

     <div class="col-4 col-lg-2">
        <div class="ibox">
          <div class="ibox-content product-box">
            <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
              <span class="textFavorite"> Yêu thích</span>
            </button>
            <div class="product-imitation">
              <img src="/public/images/samsung-galaxy-a52s-5g-mint-600x600.jpg" class="responsive-img" />
            </div>
            <div class="product-desc" onclick="location.href='/detail'">
              <span class="product-label">
                HOT
              </span>
              <small class="text-muted">Bids: 10</small>
              <a href="#" class="product-name"> Samsung Galaxy A52s</a>

              <div class="price">
                <div>NguoiSaoHoa:
                  <span class="font-weight-bold">1.000.000</span>
                </div>
              </div>
              <div class="textPrice">
                <div>Giá mua ngay:
                  <span class="font-weight-bold">20.000.000d</span>
                </div>
              </div>
              <div class="remain-time">
                <i class="fa fa-clock-o"></i>
                Còn lại: 10:30:44
              </div>

              <br />

              {{! <div class="d-flex justify-content-between mx-3">
                <a href="#" class="btn btn btn-outline-primary">
                  <i class="fa fa-info"></i>
                  Info
                </a>
                <a href="#" class="btn btn-outline-success"><i class="fa fa-buysellads" aria-hidden="true"></i>
                  Buy
                </a>
              </div> }}
              <div class="text-right">
                <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                  21/10/2021
                </small>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-4 col-lg-2">
        <div class="ibox">
          <div class="ibox-content product-box">
            <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
              <span class="textFavorite"> Yêu thích</span>
            </button>
            <div class="product-imitation">
              <img src="/public/images/samsung-galaxy-a52s-5g-mint-600x600.jpg" class="responsive-img" />
            </div>
            <div class="product-desc" onclick="location.href='/detail'">
              <span class="product-label">
                HOT
              </span>
              <small class="text-muted">Bids: 10</small>
              <a href="#" class="product-name"> Samsung Galaxy A52s</a>

              <div class="price">
                <div>NguoiSaoHoa:
                  <span class="font-weight-bold">1.000.000</span>
                </div>
              </div>
              <div class="textPrice">
                <div>Giá mua ngay:
                  <span class="font-weight-bold">20.000.000d</span>
                </div>
              </div>
              <div class="remain-time">
                <i class="fa fa-clock-o"></i>
                Còn lại: 10:30:44
              </div>

              <br />

              {{! <div class="d-flex justify-content-between mx-3">
                <a href="#" class="btn btn btn-outline-primary">
                  <i class="fa fa-info"></i>
                  Info
                </a>
                <a href="#" class="btn btn-outline-success"><i class="fa fa-buysellads" aria-hidden="true"></i>
                  Buy
                </a>
              </div> }}
              <div class="text-right">
                <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                  21/10/2021
                </small>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-4 col-lg-2">
        <div class="ibox">
          <div class="ibox-content product-box">
            <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
              <span class="textFavorite"> Yêu thích</span>
            </button>
            <div class="product-imitation">
              <img src="/public/images/samsung-galaxy-a52s-5g-mint-600x600.jpg" class="responsive-img" />
            </div>
            <div class="product-desc" onclick="location.href='/detail'">
              <span class="product-label">
                HOT
              </span>
              <small class="text-muted">Bids: 10</small>
              <a href="#" class="product-name"> Samsung Galaxy A52s</a>

              <div class="price">
                <div>NguoiSaoHoa:
                  <span class="font-weight-bold">1.000.000</span>
                </div>
              </div>
              <div class="textPrice">
                <div>Giá mua ngay:
                  <span class="font-weight-bold">20.000.000d</span>
                </div>
              </div>
              <div class="remain-time">
                <i class="fa fa-clock-o"></i>
                Còn lại: 10:30:44
              </div>

              <br />

              {{! <div class="d-flex justify-content-between mx-3">
                <a href="#" class="btn btn btn-outline-primary">
                  <i class="fa fa-info"></i>
                  Info
                </a>
                <a href="#" class="btn btn-outline-success"><i class="fa fa-buysellads" aria-hidden="true"></i>
                  Buy
                </a>
              </div> }}
              <div class="text-right">
                <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                  21/10/2021
                </small>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-4 col-lg-2">
        <div class="ibox">
          <div class="ibox-content product-box">
            <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
              <span class="textFavorite"> Yêu thích</span>
            </button>
            <div class="product-imitation">
              <img src="/public/images/samsung-galaxy-a52s-5g-mint-600x600.jpg" class="responsive-img" />
            </div>
            <div class="product-desc" onclick="location.href='/detail'">
              <span class="product-label">
                HOT
              </span>
              <small class="text-muted">Bids: 10</small>
              <a href="#" class="product-name"> Samsung Galaxy A52s</a>

              <div class="price">
                <div>NguoiSaoHoa:
                  <span class="font-weight-bold">1.000.000</span>
                </div>
              </div>
              <div class="textPrice">
                <div>Giá mua ngay:
                  <span class="font-weight-bold">20.000.000d</span>
                </div>
              </div>
              <div class="remain-time">
                <i class="fa fa-clock-o"></i>
                Còn lại: 10:30:44
              </div>

              <br />

              {{! <div class="d-flex justify-content-between mx-3">
                <a href="#" class="btn btn btn-outline-primary">
                  <i class="fa fa-info"></i>
                  Info
                </a>
                <a href="#" class="btn btn-outline-success"><i class="fa fa-buysellads" aria-hidden="true"></i>
                  Buy
                </a>
              </div> }}
              <div class="text-right">
                <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                  21/10/2021
                </small>
              </div>

            </div>
          </div>
        </div>
      
    </div>
  </div>

</div>