* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffe6c9;
}

/*------------ADMIN MENU--------------*/
#adminMenu {
  background-color: #ffad4c;
  padding: 0;
  height: 100vh;
}

#adminContent {
  text-align: center;
}
/*------------HOME BUTTON--------------*/
.adminBtn {
  border-radius: 6px;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  font-size: 1.6vw;
  font-weight: 600;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: auto;
  text-align: left;
}
.adminBtn:hover {
  color: #fff;
  text-decoration: none;
}
.adminBtn .adminBtnText {
  align-items: center;
  background: transparent;
  border-radius: 6px;
  display: flex;
  padding: 0.3em 0 0.3em 0;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}
.adminBtn:hover .adminBtnText {
  background: #e27a00;
}

/*----------LINE SPACE---------*/
.line {
  color: #fff;
  margin: 0 1.8em 0 1.8em;
  border-top: 1px solid #fff;
}
/*-------LIST BUTTON----------*/
.listBtn {
  font-size: 1.4vw;
  padding: 2px;
}

.listBtn .listBtnText {
  padding: 0.3em 1em 0.3em 2.8em;
}
/*----USER BUTTON------*/
.userBtn {
  cursor: no-drop;
  pointer-events: none;
}
.userBtn:hover {
  color: #fff;
  text-decoration: none;
}
/*----------ACTIVE-------------*/
.active .listBtnText {
  background: #e27a00;
  /* display: none; */
}
/*----------ADMIN ROW-------------*/
#adminRow {
  display: flex;
}
#menuBtn {
  display: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  color: #e27a00;
  background-color: transparent;
}
/*----------MENU ROW-------------*/
.menu_row {
  position: relative;
}
#menuBtnOnMenu {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
/*----------------------------------QUẢN LÝ NGƯỜI DÙNG-------------------------------------*/
/* body {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: center;
  height: 100vh;
} */

.form {
  background-color: transparent;
  border-radius: 20px;
  box-sizing: border-box;
  /* padding: 20px; */
  margin: auto;
}
.form label {
  color: #e27a00;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 20px;
}

.ic2 {
  margin-top: 20px;
}
.typeUser {
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #e27a00;
  box-sizing: border-box;
  color: #000;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}
.input {
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #e27a00;
  box-sizing: border-box;
  color: #000;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

#dob {
  background-color: transparent;
}
#dob::placeholder {
  color: #e27a00;
}
.cut {
  background-color: transparent;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #e27a00;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-35px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #b1b1b1;
}

.input:focus ~ .placeholder {
  color: #e27a00;
}

.submit {
  background-color: #ff8a00;
  border-radius: 6px;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 50%;
}
.submit:hover {
  background-color: #e27a00;
  transition: 0.3s;
}

.submit:active {
  background-color: #e27a00;
}

/*--------------FORM SEARCH----------------------------*/
form.form-search {
  position: relative;
  width: 50%;
  /* margin-top: 5em; */
}
/* Style the search field */
form.form-search input[type="text"] {
  padding: 10px;
  /* font-size: 17px; */
  border: 1px solid grey;
  border-radius: 6px;
  float: left;
  width: 100%;
  background: #ebebebab;
  display: flex;
}

/* Style the submit button */
form.form-search button {
  /* float: left; */
  /* width: 20%; */
  position: absolute;
  right: 0;
  padding: 10px;
  margin-right: 10px;
  background: transparent;
  color: #e27a00;
  font-size: 17px;
  border: none;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

/* Clear floats */
form.form-search::after {
  content: "";
  clear: both;
  display: table;
}
/*--------------ADMIN TITLE----------------------------*/
h3.adminTitle {
  font-size: 2em;
}
/*--------------ADMIN TABLE----------------------------*/
.adminTable_scroll {
  overflow-x: scroll;
  white-space: nowrap;
}
.adminTable {
  border: 1px solid #000;
  border-radius: 6px;
  margin-top: 10px;
}
.adminTable_header {
  background-color: #ff8a00;
}
.adminTable_header th {
  border: none;
}
.adminTable_header td {
  border: none;
}
.adminTable_updateBtn {
  transition: 0.3s;
  border: none;
  /* border-radius: 50%; */
  font-size: 1.3em;
  padding: 0.1rem 0.4rem;
  color: rgb(0, 128, 43);
  background-color: transparent;
}
.adminTable_updateBtn:hover {
  background-color: #cabfa180;
  color: rgb(0, 128, 43);
}
.adminTable_deleteBtn {
  transition: 0.3s;
  border: none;
  padding: 0.1rem 0.4rem;
  font-size: 1.3em;
  color: red;
  background-color: transparent;
}
.adminTable_deleteBtn:hover {
  background-color: #cabfa180;
  color: red;
}
/*--------------------------QUẢN LÝ DANH MỤC------------------------------*/
.admin_addBtn {
  border-radius: 6px;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  font-size: 1.6vw;
  font-weight: 600;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: auto;
  text-align: left;
}
.admin_addBtn:hover {
  color: #fff;
  text-decoration: none;
}
.admin_addBtn .adminBtnText {
  align-items: center;
  background: transparent;
  border-radius: 6px;
  display: flex;
  padding: 0.3em 0 0.3em 0;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}
.admin_addBtn:hover .adminBtnText,
.addCategory_btnSave {
  background: #e27a00 !important;
}

.admin_addBtn {
  background-color: #ff8a00;
  padding: 0;
  font-size: 1em;
  width: fit-content;
  box-shadow: 0px 1px 5px #5a5a5a;
}

.admin_addBtn .adminBtnText {
  padding: 4px 10px;
}
.adminCategory_btn {
  color: #fff;
}
.adminCategory_btn:hover {
  color: rgb(230, 230, 230);
}
.adminSmallCategory_btn {
  color: #ff8a00;
}
.adminSmallCategory_btn:hover {
  color: #e27a00;
}

/*-----------ADD BUTTON------------------*/
.form__addBtn {
  border-radius: 6px;
  color: #ffffff;
  font-size: 1.2vw;
  font-weight: 600;
  padding: 4px 12px;
  text-decoration: none;
  background: #ffad4c;
  border: none;
}
.form__addBtn:hover {
  color: #fff;
  text-decoration: none;
  background: #e27a00;
  /* box-shadow: 0px 1px 5px 1px #b96300; */
  transition: 0.2s;
}

/*Responsive*/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .adminBtn {
    font-size: 2vw;
  }
  .listBtn {
    font-size: 1.9vw;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {
  #adminMenu {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
  }
  #adminRow {
    display: block;
  }
  #menuBtn {
    display: block;
  }
  #menuBtnOnMenu {
    display: block;
  }
  .adminBtn {
    font-size: 20px;
  }
  form.form-search {
    width: 100%;
  }
  h3.adminTitle {
    font-size: 1.5em;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
